:root{
  --blackColor: rgba(36, 35, 35, 0.897);
  --headingFamily:'Handlee', cursive;
  --textFamily:'Manrope', sans-serif;
  --goldColor:#f7c35f;
  --greenColor: rgb(0, 143, 45);
  --backgroundColor: rgb(238, 239, 248);
  --white: rgba(240, 234, 234, 0.89);
}